/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Vampiro+One);

html, body {
	height: 100%;
}

body{

	margin-top: 5px;
}

.rowDivider {
	border-color: rgb(0, 100, 100);
}

.loginForm {

}

.custom-fonts {

	font-family: 'Vampiro One', cursive;
}

